


server {

    listen 80;
    server_name  {{ url }} www.{{ url }};
    #return 301 https://{{ url }}$request_uri;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/tmp/{{ app_name }}.sock;
    }
}

server {

    listen [::]:443 ssl http2;
    listen 443 ssl http2;
    server_name {{ url }} www.{{ url }};
    ssl_certificate /etc/letsencrypt/live/devpops.site/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/devpops.site/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/tmp/{{ app_name }}.sock;
    }
}
server {
    listen 88;
    #listen [::]:80;

    server_name _;

    #root /var/www/upload;
    #index index.html;

    location ~* \.(?:jpg|jpeg|png|gif|ico|ttf|webp|csv|woff|woff2)$ {
            root /var/www/upload;
            #try_files $uri $uri/ =404;
    }
}

