[Unit]
Description=uWSGI instance to serve {{ app_name }}
After=network.target

[Service]
User={{ ansible_user }}
Group=www-data
WorkingDirectory={{ work_dir }}
Environment="PATH={{ work_dir }}venv/bin"
ExecStart={{ work_dir }}venv/bin/uwsgi --ini {{ app_name }}.ini

[Install]
WantedBy=multi-user.target